<div class="travel_variation_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="~/wwwroot/img/svg_icon/1.svg" alt="">
                    </div>
                    <h3>Lộ trình thuận tiện</h3>
                    <p>Giúp bạn lên lộ trình thuận tiện nhất</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="~/wwwroot/img/svg_icon/2.svg" alt="">
                    </div>
                    <h3>Nơi ở tiện nghi</h3>
                    <p>Tìm được nơi dùng chân tuyệt vời .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="~/wwwroot/img/svg_icon/3.svg" alt="">
                    </div>
                    <h3>Hướng dẫn du lịch</h3>
                    <p>Nắm trọn từng khoảnh khắc.</p>
                </div>
            </div>
        </div>
    </div>
</div>
