<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Bạn muốn đi đâu?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" action="#">
                        <div class="input_field">
                            <input type="text" placeholder="Nơi bạn muốn đến?">
                        </div>
                        @*<div class="input_field">
                            <input id="datepicker" placeholder="Ngày">
                        </div>*@
                        <div class="input_field">
                            <select>
                                <option data-display="Loại hình du lịch">Loại hình du lịch</option>
                                <option value="1">Some option</option>
                                <option value="2">Another option</option>
                            </select>
                        </div>
                        <div class="search_btn">
                            <button class="boxed-btn4 " type="submit">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
