USE [master]
GO
/****** Object:  Database [tourdb]    Script Date: 12/14/2020 11:16:20 PM ******/
CREATE DATABASE [tourdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tourdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tourdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tourdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tourdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tourdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tourdb]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tieuDe] [nvarchar](200) NOT NULL,
	[anhBaiViet] [varchar](200) NULL,
	[noiDung] [nvarchar](max) NULL,
	[ngayTao] [datetime] NULL,
	[ChuDeBaiVietId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuDeBaiViet]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDeBaiViet](
	[ChuDeBaiVietId] [int] IDENTITY(1,1) NOT NULL,
	[moTaChuDe] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChuDeBaiVietId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongTour]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongTour](
	[dongTourId] [int] IDENTITY(1,1) NOT NULL,
	[moTaDongTour] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dongTourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangPheDuyet]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangPheDuyet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoaDonId] [int] NULL,
	[trangThaiDuyet] [int] NULL,
	[ngayPheDuyet] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[hoaDonId] [int] IDENTITY(1,1) NOT NULL,
	[tenKhachHang] [nvarchar](100) NULL,
	[sdtKhachHang] [varchar](10) NULL,
	[idTour] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hoaDonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenCty] [nvarchar](200) NOT NULL,
	[diaChiCty] [nvarchar](200) NOT NULL,
	[sdtCty] [varchar](10) NOT NULL,
	[emailCty] [varchar](200) NOT NULL,
	[facebookCty] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoiLienHe]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoiLienHe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenKhachHang] [nvarchar](100) NOT NULL,
	[sdtKhachHang] [varchar](10) NOT NULL,
	[emailKhachHang] [varchar](100) NOT NULL,
	[loiNhanKhachHang] [nvarchar](max) NOT NULL,
	[idBaiViet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinTheoTourKhach]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinTheoTourKhach](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenKhachHang] [nvarchar](100) NOT NULL,
	[sdtKhachHang] [varchar](10) NOT NULL,
	[loiNhanKhachHang] [nvarchar](max) NOT NULL,
	[idTour] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[idTour] [int] IDENTITY(1,1) NOT NULL,
	[dongTourId] [int] NOT NULL,
	[diaDiem] [nvarchar](200) NOT NULL,
	[anhTour] [varchar](200) NULL,
	[anhChiTietTour] [varchar](200) NULL,
	[giaGoc] [float] NOT NULL,
	[giaKhuyenMai] [float] NULL,
	[khuyenMaiUuDai] [int] NOT NULL,
	[tenTour] [nvarchar](200) NOT NULL,
	[tenTieuDeTour] [nvarchar](200) NULL,
	[moTaTour] [nvarchar](max) NULL,
	[soNgay] [int] NOT NULL,
	[ngayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[diaChi] [nvarchar](200) NOT NULL,
	[anhUser] [varchar](200) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiViet] ON 

SET IDENTITY_INSERT [dbo].[BaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuDeBaiViet] ON 

INSERT [dbo].[ChuDeBaiViet] ([ChuDeBaiVietId], [moTaChuDe]) VALUES (1, N'Du lịch biển')
INSERT [dbo].[ChuDeBaiViet] ([ChuDeBaiVietId], [moTaChuDe]) VALUES (2, N'Du lịch Việt Nam')
INSERT [dbo].[ChuDeBaiViet] ([ChuDeBaiVietId], [moTaChuDe]) VALUES (3, N'Du lịch Đông Nam Á')
SET IDENTITY_INSERT [dbo].[ChuDeBaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[DongTour] ON 

INSERT [dbo].[DongTour] ([dongTourId], [moTaDongTour]) VALUES (1, N'Tour cao cấp')
INSERT [dbo].[DongTour] ([dongTourId], [moTaDongTour]) VALUES (2, N'Tour bình dân')
INSERT [dbo].[DongTour] ([dongTourId], [moTaDongTour]) VALUES (3, N'Tour trọn gói')
SET IDENTITY_INSERT [dbo].[DongTour] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangPheDuyet] ON 

INSERT [dbo].[DonHangPheDuyet] ([id], [hoaDonId], [trangThaiDuyet], [ngayPheDuyet]) VALUES (3, 1, 1, CAST(N'2020-12-09T09:12:10.857' AS DateTime))
INSERT [dbo].[DonHangPheDuyet] ([id], [hoaDonId], [trangThaiDuyet], [ngayPheDuyet]) VALUES (4, 3, 1, CAST(N'2020-12-14T00:28:35.170' AS DateTime))
SET IDENTITY_INSERT [dbo].[DonHangPheDuyet] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([hoaDonId], [tenKhachHang], [sdtKhachHang], [idTour]) VALUES (1, N'Dương Xuân Đà', N'0961010169', 19)
INSERT [dbo].[HoaDon] ([hoaDonId], [tenKhachHang], [sdtKhachHang], [idTour]) VALUES (3, N'Dương Xuân Đà', N'0961010169', 19)
INSERT [dbo].[HoaDon] ([hoaDonId], [tenKhachHang], [sdtKhachHang], [idTour]) VALUES (4, N'Ngô Ngọc Lực', N'0123456789', 19)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[LienHe] ON 

INSERT [dbo].[LienHe] ([id], [tenCty], [diaChiCty], [sdtCty], [emailCty], [facebookCty]) VALUES (1, N'Công ty du lịch Wada', N'Nhổn, Minh Khai, Từ Liêm, Hà Nội', N'0961010169', N'xuandapa@gmail.com', N'https://www.facebook.com/profile.php?id=100005756085555')
SET IDENTITY_INSERT [dbo].[LienHe] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanHoiLienHe] ON 

INSERT [dbo].[PhanHoiLienHe] ([id], [tenKhachHang], [sdtKhachHang], [emailKhachHang], [loiNhanKhachHang], [idBaiViet]) VALUES (1, N'hihi', N'0111111111', N'xuandapa@gmail.com', N'Đẹp lắm', 8)
INSERT [dbo].[PhanHoiLienHe] ([id], [tenKhachHang], [sdtKhachHang], [emailKhachHang], [loiNhanKhachHang], [idBaiViet]) VALUES (2, N'Hoàng Trung', N'0111111111', N'xuandapa@gmail.com', N'Tuyệt vời', 9)
INSERT [dbo].[PhanHoiLienHe] ([id], [tenKhachHang], [sdtKhachHang], [emailKhachHang], [loiNhanKhachHang], [idBaiViet]) VALUES (3, N'Hoàng Trung 2', N'0111111111', N'xuandapa@gmail.com', N'Mình từng đi tour này thích cực ý', 8)
SET IDENTITY_INSERT [dbo].[PhanHoiLienHe] OFF
GO
SET IDENTITY_INSERT [dbo].[Tour] ON 

SET IDENTITY_INSERT [dbo].[Tour] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [hoTen], [sdt], [email], [diaChi], [anhUser], [username], [password]) VALUES (6, N'Duong Thanh Phong', N'0987654321', N'xuandapa@gmail.com', N'dong da', N'dao-tu-do-ivivu-5.jpg', N'admin', N'21232f297a57a5a743894a0e4a801fc3')
INSERT [dbo].[User] ([id], [hoTen], [sdt], [email], [diaChi], [anhUser], [username], [password]) VALUES (7, N'Xuan Da', N'0987654321', N'xuandapa@gmail.com', N'dong da', N'dao-tu-do-ivivu-5.jpg', N'admin2', N'c84258e9c39059a89ab77d846ddab909')
INSERT [dbo].[User] ([id], [hoTen], [sdt], [email], [diaChi], [anhUser], [username], [password]) VALUES (9, N'Duong Thanh Phong 1', N'0123456789', N'xuandapa@gmail.com', N'dong da', N'dao-tu-do-ivivu-5.jpg', N'admin1', N'e00cf25ad42683b3df678c61f42c6bda')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Tour] ADD  CONSTRAINT [DF_Tour_ngayTao]  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD FOREIGN KEY([ChuDeBaiVietId])
REFERENCES [dbo].[ChuDeBaiViet] ([ChuDeBaiVietId])
GO
ALTER TABLE [dbo].[DonHangPheDuyet]  WITH CHECK ADD FOREIGN KEY([hoaDonId])
REFERENCES [dbo].[HoaDon] ([hoaDonId])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idTour])
REFERENCES [dbo].[Tour] ([idTour])
GO
ALTER TABLE [dbo].[PhanHoiLienHe]  WITH CHECK ADD FOREIGN KEY([idBaiViet])
REFERENCES [dbo].[BaiViet] ([id])
GO
ALTER TABLE [dbo].[ThongTinTheoTourKhach]  WITH CHECK ADD FOREIGN KEY([idTour])
REFERENCES [dbo].[Tour] ([idTour])
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD FOREIGN KEY([dongTourId])
REFERENCES [dbo].[DongTour] ([dongTourId])
GO
/****** Object:  StoredProcedure [dbo].[Sp_Account_Login]    Script Date: 12/14/2020 11:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_Account_Login]
	-- Add the parameters for the stored procedure here
	@UserName varchar(50),
	@Password varchar(50)
AS
BEGIN
	declare @count int
	declare @res bit
	select @count = count(*) from Account where username = @UserName AND password = @Password
	if @count >0
		set @res = 1
	else 
		set @res = 0

		select @res
END
GO
USE [master]
GO
