@model TOUR.Models.PhanHoiLienHe
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_4">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Liên hệ</h3>
                    @*<p>Pixel perfect design with awesome contents</p>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7446.828175561396!2d105.72723982416603!3d21.05611734393408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454570374c5e3%3A0xdeb4689fca01b0ff!2zTmjhu5VuLCBNaW5oIEtoYWksIFThu6sgTGnDqm0sIEhhbm9pLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1607496631849!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>


        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <h2 class="contact-title">Liên hệ với chúng tôi</h2>
            </div>
            <div class="col-lg-2"></div>
            @{
                Html.RenderAction("_LienHe", "LienHe");
            }
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->